<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>工作家后台管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all" />
  <link rel="stylesheet" href="__CSS__/admin.css"  media="all">
</head>
<body style="padding:10px;">
  <div class="tplay-body-div">
    <table class="layui-table" lay-size="sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>就职公司</th>
          <th>工作时间</th>
          <th>工作内容</th>
         
        </tr> 
      </thead>
      <tbody>
        {volist name="data" id="vo"}
        <tr>
          <td>{$vo.id}</td>
          <td>{$vo.corporate_name}</td>
          <td>{$vo.working_time}</td>
          <td>{$vo.working_content}</td>
        </tr>
        {/volist}
      </tbody>
    </table>
  </div>
</body>
</html>